@charset "UTF-8";
body, h1, h2, h3, h4, h5, h6, p, div, ul, li {
	margin: 0;
	padding: 0;
}
body {
	font-family: Verdana, Geneva, sans-serif;
	background-color: #000;
}
#wrapper {
	width: 700px;
	margin: 20px auto;
}
header {
	background: url(header-bg.jpg);	
	text-align: center;
}
header img {
	padding: 20px 0px;
	width: 405px;
	height: 68px;
}
#links {
	background: #666;	
}
aside {
	background: #666;
	height: 36px;
	margin: 0 auto;
	border-top: 1px solid #999;
	border-bottom: 1px solid #999;
}
aside ul {
	list-style: none;
	text-align: center;
}
aside ul li {
	display: inline-block;
}
aside ul li a {
	display: inline-block;
	height: 20px;
	line-height: 20px;
	background: #000;/*zdefiniowanie dla ie - nie czyta gradientu*/
	width: 80px;
	font-size: 0.8em;
	font-weight: bold;
	color: #FFF;
	text-decoration: none;
	margin: 7px;
	border-radius: 5px;/*sprawdzałem na chrome, opera i fox - wyświetla się prawidłowo*/
	border: 1px solid #000;
	background: linear-gradient(#666, #333);/*nie działa w ie*/	
}
aside ul li a:hover {
	background: #333;
	background: linear-gradient(#000, #666);	
}	
	
aside ul li a.current, #nav ul li a.current:hover{
	background: #333;
	background: linear-gradient(#000, #666);
	color: #F63;
	cursor: default;
}
#about {
	background: #333;
	padding-top: 60px;
	padding: 60px 0px;
}
article {
	width: 430px;
	margin: 0 auto;
	background: #222;
	border: 1px solid #000;
	background: linear-gradient(#999, #000, #222);
	border-radius: 15px;
	box-shadow: 10px 10px 4px #000;
}
article img {
	float: left;
	border: 1px solid #000;
	background: #333;
	padding: 16px;
	margin: 0.7em;
	background: linear-gradient(#666, #000);
	border-radius: 15px;
}
article h5{
	color: #FFF;
	padding: 0.8em 0 0 0;	
}	
article p {
	font-size: 0.7em;
	color: #999;
	padding: 0.7em;
	line-height: 1.4em;
}
footer {
	background: #222;
	height: 10px;
	border-bottom: 1px solid #333;
}	
	
	
	